.about {
  display: grid;
  gap: 60px 32px;
  grid-template-columns: repeat(2, 1fr);
  padding: 123px calc(50% - 620px) 60px;

  @include vp-1199 {
    gap: 30px;
    grid-template-columns: 1fr;
    padding: 100px 45px 50px;
  }

  @include vp-767 {
    padding: 68px 15px 34px;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;

  @include vp-767 {
    gap: 14px;
  }
}

.about__subtitle {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 32px;
  line-height: 26px;
  color: $color-cerulean-blue;

  @include vp-1199 {
    margin: 0;
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}

.about__info {
  margin: 6px 0 0;
  padding-right: 40px;
  font-size: 22px;
  line-height: 32px;

  @include vp-1199 {
    margin: 0;
    padding-right: 170px;
    font-size: 20px;
    line-height: 26px;
  }

  @include vp-767 {
    padding-right: 40px;
    font-size: 16px;
    line-height: 22px;
  }
}

.about__description {
  margin: 0 0 17px;
  padding-right: 75px;
  line-height: 26px;

  @include vp-1199 {
    margin-bottom: 37px;
    padding-right: 160px;
    line-height: 20px;
  }

  @include vp-767 {
    margin-top: -4px;
    margin-bottom: 13px;
    padding-right: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

.about__link {
  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 11px;
  }
}
