.block-statistics {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 54px 52px;
  padding: 92px 106px 56px 126px;
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  border-radius: 20px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 42px 50px;
    padding: 62px 40px 40px 60px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 22px;
    padding: 42px 20px 40px 30px;
  }
}

.block-statistics__specific {
  position: relative;
  display: grid;
  grid-template-columns: 171px 1fr;
  gap: 8px;
  padding: 29px 45px 29px 60px;
  border: 1px solid $color-default-white;
  border-radius: 16px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding: 29px 40px 24px 30px;
  }

  @include vp-767 {
    gap: 3px;
    padding: 19px 17px 24px 19px;
  }

  &::before {
    position: absolute;
    content: "";
    top: -23px;
    left: -21px;
    width: 42px;
    height: 42px;
    background-image: url("../img/svg/star.svg");

    @include vp-767 {
      top: -20px;
      left: -18px;
      width: 39px;
      height: 39px;
      background-size: 36px;
    }
  }

  &:nth-child(2n) {
    gap: 20px;

    @include vp-1199 {
      gap: 9px;
    }

    @include vp-767 {
      gap: 3px;
    }
  }
}

.block-statistics__title {
  margin: 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.26;
  text-transform: uppercase;

  @include vp-1199 {
    font-size: 20px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16px;

    br {
      display: none;
    }
  }
}

.block-statistics__description {
  margin: 0;
  font-weight: 300;
  line-height: 20px;

  @include vp-767 {
    padding-right: 35px;
    font-size: 14px;
  }
}
