.btn {
  display: inline-flex;
  width: 46px;
  height: 46px;
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity $trans-default;

  &--menu {
    margin-left: 20px;
    padding: 6px;
  }
}
