@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin bottom-corner {
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/right-down-corner.svg");
    background-repeat: no-repeat;

    @include vp-767 {
      right: -10px;
      width: 10px;
      height: 10px;
      background-size: 10px 10px;
    }
  }
}

@mixin top-corner {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/right-up-corner.svg");

    @include vp-767 {
      right: -10px;
      width: 10px;
      height: 10px;
      background-size: 10px 10px;
    }
  }
}
